            <div id="main-chart" style="width: 100%;">
                <div class="charts">
                    <figure class="pie-chart" style='background:radial-gradient(circle closest-side,white 0,white 37.6%,transparent 37.6%,transparent 80%,white 0),conic-gradient(<%= suite.graph%>);'>
                    </figure>
                </div>
            </div>
